.button {
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.2;
  padding: $input-spacing;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  outline: none;
  white-space: nowrap;
}

.button1:hover {
  background-color: #e4e4e4;
}

.button1:active {
  background-color: $brand-primary;
  color: white;
}

.button--bottom {
  margin-top: 10rem;
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--pill {
  background-color: transparent;
  border: 1px solid $button-pill-color;
  color: $button-pill-color;
  margin: 0 ($space / 2) 0 0;
  padding: .1rem .4rem;
}

.button--secondary {
  border: 1px solid transparent;
  color: $button-color;
  border-radius: .5rem;
  text-align: center;
}

.button__blue {
  background: $brand-primary;
  border-color: $brand-primary;
  border: none;
}

.button__red {
  background-color: $brand-secondary;
  border-color: $brand-secondary;
  border: none;
}

.button__red:hover {
  background-color: darken($color: $brand-secondary, $amount: 10%);
  border-color: darken($color: $brand-secondary, $amount: 10%);
  border: none;
}

.button__blue:hover {
  background: darken($color: $brand-primary, $amount: 10%);
  border-color: darken($color: $brand-primary, $amount: 10%);
  border: none;
}

.button__blue:focus {
  box-shadow: 0 0 0 0.2rem rgba(7, 106, 255, 0.5);
}

.button--link-text {
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-transform: none;
}

.button__logout {
  color: $gold;
  border-color: $gold;
  background-color: transparent;
  border: 1px solid $gold;
  border-radius: $radius;
  font-weight: 500;
  padding: 1rem 1.5rem;
}

.button__logout:hover {
  background-color: $gold;
  color: black;
}

.button__mar {
  margin-right: $space2;
}