.boxed-view {
  align-items: center;
  background: $boxed-view-overlay-bg;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.boxed-view--modal {
  background: fade-out($boxed-view-overlay-bg, .3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.boxed-view__box {
  background-color: $boxed-view-bg;
  padding: 2.4rem;
  text-align: center;
  width: 24rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 25px;
}

.editor__content {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .editor__content {
    -ms-flex: 0 0 10 / 12 * $percent;
    flex: 0 0 10 / 12 * $percent;
    max-width: 10 / 12 * $percent;
  }
}

.x5 {
  margin-left: $space3;
}

.editor__button {
  margin-top: $space3;
}

.blog--title {
  margin-top: $space3;
}