.header {
  background: $brand-primary;
  color: $header-color;
}

.header__content {
  display: flex;
  justify-content: space-between;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space;
  align-items: center;
  height: $nav-space;
}

.header__title {
  margin: 0;
  cursor: pointer;
}
