.card {
  display: flex;
  word-wrap: break-word;
  width: 69rem;
  flex-basis: auto;
  white-space: pre-wrap;
}

.card-body {
  border-radius: 0.7rem;
  border: 1px solid rgba(0, 0, 0, 0.13); 
  flex-grow: 0.4;
  padding: 1.25rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  color: #000;
  width: 100%;
  cursor: pointer;
}

.card-body:active {
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.13);
  border: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, box-shadow .15s ease-in-out;
}

.card-text {
  color: #545151;
}

.stat {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: $dark-grey3;
}

.stat1 {
  margin-top: -7%;
}

.stat2 {
  display: flex;
  justify-content: flex-end;
}

.icon__search {
  position: absolute;
  left: 33rem;
  bottom: 85%;
  cursor: pointer;
}

.ios-arrow-down {
  cursor: pointer;
}

.icon__search1 {
  cursor: pointer;
}

.item__message {
  color: $item-text-color;
}

.item__status-message {
  color: $item-text-color;
  font-style: italic;
  text-align: center;
  margin: 0;
}
