.container {
  display: flex;
  flex-direction: column;
  margin-top: $space;
  width: 100%;
}

.container__fluid {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container__read {
  margin-top: 10rem
}
